<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 "
         >
            <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex flex-stack ">
<!--layout-partial:layout/partials/_page-title.html-->
<!--begin::Actions-->
<div class="d-flex align-items-center gap-2 gap-lg-3">
            <!--begin::Filter menu-->
        <div class="d-flex">
            <select name="campaign-type" data-control="select2" data-hide-search="true" class="form-select form-select-sm bg-body border-body w-175px">
                <option value="Twitter" selected="selected">Select Campaign</option>
                <option value="Twitter">Twitter Campaign</option>
                <option value="Twitter">Facebook Campaign</option>
                <option value="Twitter">Adword Campaign</option>
                <option value="Twitter">Carbon Campaign</option>
            </select>
            <a href="#" class="btn btn-icon btn-sm btn-success flex-shrink-0 ms-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">
                <i class="ki-duotone ki-plus fs-2"></i>
            </a>
        </div>
        <!--end::Filter menu-->
    <!--begin::Secondary button-->
        <!--end::Secondary button-->
    <!--begin::Primary button-->
        <!--end::Primary button-->
</div>
<!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->